{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block bodyclass %}dashboard{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>table {width: 100%;}</style>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url "admin:index" %}">{% trans "Home" %}</a> &rsaquo;
    <a href="{% url "admin:app_list" "defender" %}">Defender</a> &rsaquo;
</div>
{% endblock breadcrumbs %}

{% block content %}
<div id="content-main">

<h1>{% trans "Blocked Attempts" %}</h1>
<p>{% trans "Here is a list of IP's and usernames that are blocked" %}</p>

<div class="module">

<table>
    <caption>{% trans "Blocked IP's" %}</caption>
    <thead>
    <tr><th>IP</th><th>{% trans "Action" %}</th></tr>
    </thead>
    <tbody>
    {% for block in blocked_ip_list %}
    <tr class="{% cycle "row2" "row1" %}">
        <td>{{block}}</td>
        <td>
            <form method='POST' action="{% url 'defender_unblock_ip_view' block %}">
                {% csrf_token %}
                <input type='submit' value='{% trans "Unblock" %}' />
            </form>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan='2'>{% trans "No IP's" %}</td></tr>
    {% endfor %}
</tbody>
</table>
</div>

<div class="module">
<table>
    <caption>{% trans "Blocked Usernames" %}</caption>
    <thead>
        <tr><th>{% trans "Usernames" %}</th><th>{% trans "Action" %}</th></tr>
    </thead>
    <tbody>
    {% for block in blocked_username_list %}
    <tr class="{% cycle "row2" "row1" %}">
        <td>{{block}}</td>
        <td>
            <form method='POST' action="{% url 'defender_unblock_username_view' block %}">
                {% csrf_token %}
                <input type='submit' value='{% trans "Unblock" %}' />
            </form>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan='2'>{% trans "No Username's" %}</td></tr>
    {% endfor %}
</tbody>
</table>

</div>
</div>
{% endblock content %}
